[Unit]
Description=DiamondCrew Interactive Cockpit bearer authentication

[Socket]
ListenStream=/run/dci-sso-auth.sock
Accept=yes
SocketMode=0660
SocketUser=root
SocketGroup=cockpit-wsinstance
MaxConnections=32

[Install]
WantedBy=sockets.target
